.creatureIcon {
    height: 12px;
    width: 12px;
    float:right;
}

.creatureTitleType {
    height: 20px;
    width: 20px;
    float: right;
}

.creatureName {
    font-weight: bold;
}

.roundCreatureContainer {
    font-family: "Trajan Pro", serif;
}

.attributeEntry {
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
    width: 18em;
    display: inline-block;
}