.formMenuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer {
    padding-top: 5px;
}

.formButtons {
    display: flex;
    justify-content: center;
}

.formMenuButton {
    font-family: inherit;
    font-size: 8pt;
    background-color: black;
    color: white;
    text-align: center;
    margin-right: 0.2em;
    border: none;
    padding: 0.8em;
    transition: background-color 0.5s linear;
}