.encounterManagerContainer {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formTypeButton:hover {
    cursor: pointer;
    background-color: darkslategrey;
}