.formButton {
    font-family: "Trajan Pro", serif;
    font-size: 8pt;
    background-color: black;
    color: white;
    text-align: center;
    margin-right: 0.2em;
    border: none;
    padding: 0.8em;
}

.formAddButton {
    font-family: "Trajan Pro", serif;
    font-size: 10pt;
    background-color: black;
    width: 0.4em;
    height: 0.4em;
    margin-top: 0.3em;
    color: white;
    text-align: center;
    border: none;
}

.formContainer {
    font-size: 9pt;
}

.formField {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}