.systemChoiceBarContainer {
    height: 35px;
    width: 100%;
    background: lightgrey;
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
    overflow-y: hidden;
}

.systemElement {
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    transition: all ease-in-out;
}

.systemElement:hover {
    transform: scale(1.05);
}

.systemElementImage {
    height: 20px;
    width: auto;
    transition: all 0.5s ease-in-out;
}

.systemElementImage:hover {
    transform: scale(1.05);
}