.formTypeButton {
    font-family: inherit;
    font-size: 8pt;
    background-color: black;
    color: white;
    text-align: center;
    margin-right: 0.2em;
    border: none;
    padding: 0.8em;
    transition: background-color 0.5s linear;
}

.formTypeButton:hover {
    cursor: pointer;
    background-color: darkslategrey;
}

.formContainer {
    text-align: center;
    display: block;
}

.modalCloseButton {
    font-family: "Trajan Pro", serif;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    padding-top:0.3em;
    border: none;
    font-size: 10pt;
    float: right;
    transition: background-color 0.5s linear;
}

.modalCloseButton:hover {
    cursor: pointer;
    background-color: darkslategrey;
}

.formTopBar {
    margin-bottom: 0.5em;
}


