.topBarContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 1.4em;
    padding-top: 0.4em;
    font-family: "Trajan Pro", serif;
    color: slategrey;
    font-size: 20pt;
    font-weight: bold;
    background-color: black;
}

.systemMenuContainer {
    width: 263px;
    display: flex;
    justify-content: flex-end;
}

.appTitle {
    margin-top:0.1em;
    width: 4.5em;
    margin-right:0;
    font-size: 20pt;
}