.menuContainer {
    display: inline-block;
    float: right;
}

.menuAddButton {
    background-color: transparent;
    color: white;
    width:2em;
    height:2em;
    padding:0;
    border-radius:0;
    margin-left: 0.5em;
    font-size:12.0pt;
    border: 0.05em solid lightgrey;
    float:right;
    margin-bottom: 0.2em;
    transition: background-color 0.5s;
}

.menuEditButton {
    background-color: transparent;
    color: white;
    width:2em;
    height:2em;
    padding-top:0.2em;
    border-radius:0;
    margin-left: 0.5em;
    font-size:12.0pt;
    border: 0.05em solid lightgrey;
    float:right;
    margin-bottom: 0.2em;
    margin-right: 0.5em;
    transition: background-color 0.5s;
}

.menuEditButton:hover, .menuAddButton:hover {
    background-color: darkslategrey;
    cursor: pointer;
}

