.creatureFormContainer {
    font-size: 9pt;
    display: block;
    flex-wrap:nowrap;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 40em;
}

.imageLabel {
    float:left;
    margin-left:1em;
}

.imageUploadContainer {
    width: 50em;
    height: 40em;
}

.actualCreatureForm {
    display: inline-block;
}

.creatureSelectContainer {

}

.creatureFormSelect {
    width: 80%;
    font-size: 7pt;
    float:right;
    height: 5%;
    margin-bottom: 0.5em;
}

.skillLabel{
    float:left;
}

.skillFormSelect {
    width: 30%;
    font-size: 7pt;
    float:left;
    margin-bottom: 0.5em;
}

.skillLevelInput {
    width: 20%;
}

.formSelectContainer {
    height: 3em;
    margin-top: 1em;
    margin-left: 1em;
    text-align: left;
    float:left;
    width: 50em;
    display: inline-block;
}

.selectLabel {
    padding-top: 0.5em;
}

.subInput {
    width: 4em;
}

.formInputArea {
    display: block;
}

.formTextInputArea {
    height: 3em;
    padding-top: 0.2em;
    margin-left: 1em;
    text-align: left;
    float:left;
    width: 50em;
    display: inline-block;
}

.creatureFormSubmit {
    font-family: "Trajan Pro", serif;
    font-size: 8pt;
    background-color: black;
    color: white;
    text-align: center;
    margin-right: 0.2em;
    border: none;
    padding: 0.8em;
}

.formAddButton {
    font-family: "Trajan Pro", serif;
    font-size: 10pt;
    background-color: black;
    width: 2em;
    height: 2em;
    margin-top: 0.3em;
    color: white;
    text-align: center;
    border: none;
}

.formPart {
    float: left;
    width: 50%;
}

