.spellChip {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border-radius: 5%;
    margin-top: 3px;
    margin-left: 3px;
    padding: 3px;
    height: 15px;
    font-size: 8pt;
}

.spellChipLevel {
    padding-top: 2px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.spellChipName {
    padding-top: 2px;
}

.spellChipSchoolImage {
    max-height: 13px;
}
