.encounterCreatureDialogContainer {
    width :50em;
    margin: 0;
    float:left;
}

.creatureAddButton {
    background: black;
    font-family: "Trajan Pro", serif;
    color: white;
    font-size: 8pt;
    padding: 1em;
    float: left;
    margin: 1em;
    border: none;
    -webkit-transition-duration: 1s;
}

.creatureAddButton:hover {
    cursor: pointer;
    background-color: #3d3b3b;
}

.addDialog {
    margin-top: 1em;
    margin-bottom:1em;
    display: inline-block;
    width:80%;
}