.singleAction {
    margin-top: 10px;
    font-size: 9pt;
    font-weight: bold;
    padding: 5px;
    -webkit-box-shadow: 13px 0px 17px -6px rgba(0,0,0,0.44);
    -moz-box-shadow: 13px 0px 17px -6px rgba(0,0,0,0.44);
    box-shadow: 13px 0px 17px -6px rgba(0,0,0,0.44);
}