.formContainer {
    font-size: 9pt;
    width: 40%;
    display: inline-block;
}

.formButton {
    font-family: "Trajan Pro", serif;
    font-size: 8pt;
    background-color: black;
    color: white;
    text-align: center;
    margin-right: 0.2em;
    border: none;
    padding: 0.8em;
    transition: background-color 0.5s linear;
}

.formSegment {
    border-bottom: 1px solid #888888;
    margin-bottom: 8px;
}

.formButton:hover{
    cursor: pointer;
    background-color: darkslategrey;
}

.formField {
    float: left;
    width: 100%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.damageTypeSelect {
    width: 70%;
    float: right;
}

.diceField {
    width: 8%;
}