.diceBarContainer {
    width: 263px;
    display:inline-block;
    float:left;
    height:1.2em;
    margin-left: 0.5em;
}

.dieImage {
    float:left;
    height:1em;
    margin-right: 0.4em;
    transition:  0.2s linear;
}

.dieImage:hover {
    cursor: pointer;
    -webkit-box-shadow: -2px -1px 8px 8px rgba(3,77,70,1);
    -moz-box-shadow: -2px -1px 8px 8px rgba(3,77,70,1);
    box-shadow: -2px -1px 8px 8px rgba(3,77,70,1);
    background-color: rgba(3,77,71,1);
}

.diceResult {
    float:left;
    height:1em;
    width:2em;
    margin-top:0.5em;
    margin-right: 0.4em;
    font-size: 12pt
}