.mediaBarContainer {
    text-align: center;
    border-style: dotted;
    border-color: transparent transparent lightgrey transparent;
}

.trigger {
    transition: color 0.5s;
    font-size: 18pt;
}

.trigger:hover {
    color: seagreen;
    cursor: pointer;
}

.triggerOpened {
    color: green;
    font-size: 18pt;
    transition: color 0.5s;
    cursor: pointer;
}

.triggerOpened:hover {
    color:red;
}