.container {
    display: flex;
    height: 82vh;
}

.creatureFormContainer {
    overflow-y: auto;
    min-width: 377px;
    flex: 1;
}

.creatureCardContainer {
    flex: 3;
}

.formSection {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.formSectionHeader {
    color: grey;
    font-size: 11pt;
}

.formSectionToBeDone {
    color: grey;
    font-size: 12pt;
}

.formSectionCompletion {
    margin-top: 10px;
    color: darkgreen;
    font-size: 12pt;
}