.formInputSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selectableTypes {

}

.selectMenu {
    min-width: 240px;
    margin-left: 30px;
    font-size: 9pt;
}