.formInputSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10pt;
    margin-bottom: 5px;
}

.selectableTypes {

}

.selectMenu {
    min-width: 240px;
    margin-left: 30px;
    font-size: 9pt;
}

.averageIndicator {
    cursor: pointer;
    padding: 6px;
    border-radius: 20px;
    border-color: transparent;
    background-color: grey;
    font-size: 7pt;
    color: white;
}

.hitDiceFieldContainer {
    display: flex;
}

.formSubSectionAddButton {
    height: 25px;
    border-radius: 30%;
    border-color: transparent;
    background-color: darkgreen;
    color: white;
    box-shadow: 0 3px 5px #ccc;
}

.formSubSectionRemoveButton:hover {
    background-color: green;
}

.formSubSectionHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 40px;
}

.formSubSectionRemoveButton {
    border-radius: 30%;
    border-color: transparent;
    background-color: darkred;
    color: white;
    box-shadow: 0 3px 5px #ccc;
}

.formSubSelectMenu {
    max-width: 150px;
    margin-left: 5px;
    font-size: 9pt;
}

.formSubSectionRemoveButton:hover {
    background-color: red;
}