.cardContainer {
    background: white;
}

.nameContainer {
    height: 38pt;
    display: flex;
}

.name {
    background: black;
    color: white;
    padding-top: 0.25em;
    padding-left: 0.4em;
    margin: 0;
    font-weight: bold;
    width: 7.8em;
    height: 100%;
    box-sizing: border-box;
    font-size: 26pt;
}

.edge {
    width: 0;
    height: 0;
    border-top: 38pt solid transparent;
    border-bottom: 0px solid transparent;

    border-left: 18pt solid black;
}

.attitude {

}

.challenge {

}

@media print {
    body, html {
    }
    * {-webkit-print-color-adjust:exact;}
}