.roundOverviewContainer {
    overflow-x: auto;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    background-image: url("/images/roundTimeline.svg.png");
    background-size: 12px 4px;
    background-repeat: repeat-x;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addRoundButton {
    font-size: 16pt;
    margin-right: 30px;
    min-height: 40px;
    min-width: 40px;
    color: white;
    border-color: transparent;
    background-color: midnightblue;
    padding: 5px 5px 5px 5px;
    border-radius: 50%;
}

.singleRoundDetailsContainer {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    box-shadow:
            inset 0 11px 8px -10px black,
            inset 0 -11px 8px -10px black;
    height: 200px;
    width: 100%;
}