.flyUpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: white;
    position: absolute;
    z-index: 1;
    width: 97%;
    transition: all 1s ease-in-out;
}

.topAreaContainer {
    width: 99%;
    height: 27px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flyUpContainerCloseButton {
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    padding: 3px;
    border-color: transparent;
    background: white;
    box-shadow:  2px 2px 4px #d9d9d9,
    -2px -2px 4px #f1f0f052;
}