.singleAdventureContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}

.adventureName {
    font-size: 35pt;
    color: #222;
    font-weight: bolder;
    text-shadow: 2px 2px 2px #f1f0f052
}

.adventureCore {
    margin-top: 10px;
    font-size: 10pt;
    hyphens: auto;
    text-align: justify;
}

.addSceneButton {
    cursor: pointer;
    background-color: white;
    padding: 8px;
    border-color: transparent;
    border-radius: 30%;
    box-shadow:  4px 4px 8px #d9d9d9,
    -4px -4px 8px #f1f0f052;
    transition: all 0.5s linear;
}

.addSceneButton:hover {
    background: linear-gradient(145deg, #efefef, #f1f0f052);
    transform: scale(1.1);
}
