.toolTipContainer {
    position: relative;
    display: inline-block;
}

.toolTipContent {
    position: absolute;
    visibility: hidden;
    background: white;
    border: grey;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.toolTipContainer:hover .toolTipContent {
    visibility: visible;
    opacity: 1;
}

.toolTipContainer .toolTipContent::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.toolTipIcon {
    width: 15px;
    height: auto;
}