.toolTipContainer {
    position: relative;
    display: inline-block;
}
.toolTipContent {
    position: absolute;
    visibility: hidden;
    background: white;
    margin-top: 9px;
    border: black solid 1px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    -webkit-box-shadow: 13px 0 17px -6px rgba(0,0,0,0.44);
    -moz-box-shadow: 13px 0 17px -6px rgba(0,0,0,0.44);
    box-shadow: 13px 0 17px -6px rgba(0,0,0,0.44);
}

.toolTipContainer:hover .toolTipContent {
    visibility: visible;
    opacity: 1;
}

.toolTipIcon {
    width: 15px;
    height: auto;
}