@font-face { font-family: 'Trajan Pro';
    src: url('../../../../../../build/fonts/Trajan_Pro_Bold.ttf')  format('ttf'),
         url('build/fonts/Trajan_Pro.ttf')  format('ttf'); }

.cardTopContainer {
    display: flex;
    flex-direction: row;
    background: white;
    font-family: "Trajan Pro", serif;
    border-bottom: 0.1em solid black;
    height:38pt;
    width: 100%;
}

.nameContainer {
    flex: 1;
    width: 22vw;
    height: 38pt;
    display: flex;
    float: left;
}

.nextToNameContainer {
    flex: 1.2;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

.name {
    background: black;
    color: white;
    padding-top: 0.8em;
    padding-left: 0.4em;
    margin: 0;
    font-weight: bold;
    width: 87%;
    height: 100%;
    box-sizing: border-box;
    font-size: 1.5vw;
}

.label {
    background: black;
    padding-top: 0.8em;
    padding-left: 0.4em;
    width: 1.6em;
    margin: 0;
    font-weight: bold;
    color: slategrey;
    height: 100%;
    box-sizing: border-box;
    font-size: 12pt;
}

.edge {
    width: 0;
    height: 0;
    border-top: 38pt solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 18pt solid black;
}

.alignment {
    font-size: 12pt;
}

.challenge {
    font-size: 14pt;
}