.creatureDisplayContainer {
    transition: background-color 1s;
    width: 45em;
}

.encounterEntity {

}

.creatureDisplayContainer:hover {
    cursor: pointer;
    background-color: #c6c6c6 !important;
}

.creatureCurrentContainer {
    font-family: "Trajan Pro", serif;
    width: 45em;
    display: inline-block;
}


.titleContainer {
    width: 22%;
    float: right;
}

.nextToTitleContainer {
    float: left;
}

.statDisplay {
    float:left;
    font-size: 10pt;
    margin-bottom: 0;
    margin-left: 0.2em;
    margin-top: 0.6em;
}

.inputField {
    width: 3em;
}

.edge {
    width: 0;
    height: 0;
    border-top: 0pt solid transparent;
    border-bottom: 32px solid transparent;
    border-right: 18pt solid black;
    float: right;
}

.currentInfoContainer {
    color: white;
    padding-top: 0.45em;
    padding-right: 0.4em;
    padding-bottom: 0.45em;
    margin: 0;
    font-weight: bold;
    text-align: right;
    height: 80%;
    box-sizing: border-box;
    font-size: 12pt;
    float: right;
}

.removeCreatureButton {
    background-color: darkred;
    color: #c6c6c6;
    opacity:0;
    margin-top:2em;
    margin-left:1em;
    padding:0.7em;
    float:left;
    transition: 0.3s linear;
    border: 1px solid #ddd;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 3px 5px #ccc;
    -webkit-box-shadow: 0 3px 5px #ccc;
    -o-box-shadow: 0 3px 5px #ccc;
    -ms-box-shadow: 0 3px 5px #ccc;
    box-shadow: 0 3px 5px #ccc;
}

.removeCreatureButton:hover {
    cursor: pointer;
    background-color: red;
}

.encounterEntity:hover .removeCreatureButton {
    opacity: 1;
}