.creatureFormContainer {
    font-size: 9pt;
    display: block;
    max-height: 40em;
}

.imageLabel {
    float:left;
    margin-left:1em;
}

.imageUploadContainer {
    width: 50em;
    height: 40em;
}

.actualCreatureForm {
    display: inline-block;
}

.multiSelectNoCreateContainer {

}

.creatureFormInput {
    font-family: "Trajan Pro", serif;
    float:right;
    margin-right: 2%;
}

.creatureFormSelect {
    width: 60%;
    font-size: 7pt;
    float:right;
    height: 5%;
    margin-bottom: 0.5em;
}

.valBlockContainer {
    width: 54%;
    padding-bottom: 2%;
    float: right;
}

.singleVal {
    margin-right: 0.2em;
}

.skillLabel{
    float:left;
}

.skillFormSelect {
    width: 60%;
    font-size: 7pt;
    float:left;
    margin-bottom: 0.5em;
}

.skillLevelInput {
    font-family: "Trajan Pro", serif;
    width: 20%;
}

.formSelectContainer {
    min-height: 3em;
    margin-top: 1em;
    margin-left: 1em;
    text-align: left;
    float:left;
    width: 99%;
}

.selectLabel {
    padding-top: 0.5em;
}

.subInput {
    font-family: "Trajan Pro", serif;
    width: 3em;
}

.formTextInputArea {
    min-height: 3em;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-left: 1em;
    text-align: left;
    float:left;
    width: 100%;
    display: inline-block;
}

.creatureFormSubmit {
    font-family: "Trajan Pro", serif;
    font-size: 8pt;
    background-color: black;
    color: white;
    text-align: center;
    margin-right: 0.2em;
    border: none;
    padding: 0.8em;
    transition: background-color 0.5s linear;
}

.creatureFormSubmit:hover {
    cursor:pointer;
    background-color: darkslategrey;
}

.formAddButton {
    font-family: "Trajan Pro", serif;
    font-size: 10pt;
    background-color: black;
    width: 2em;
    height: 2em;
    margin-top: 0.3em;
    color: white;
    text-align: center;
    border: none;
    transition: background-color 0.5s;
}

.formAddButton:hover {
    background-color: darkslategrey;
    cursor: pointer;
}

.formPart {
    float: left;
    max-width: 35%;
    flex-wrap:nowrap;
    padding-right: 1em;
    max-height: 40em;
    overflow-y: scroll;
    overflow-x: hidden;
    height:34em;
}

.formPartCreature {
    text-align: left;
    width: 62.4%;
    max-width: 65%
}

.multiInputFormArea {
    width:100%;
    text-align:left;
    float:left
}

.attackPropertyNameField {
    width: 30%;
    font-family: "Trajan Pro", serif;
}

.attackPropertyValueField {
    width: 97%;
    resize: vertical;
    height: 4.7em;
    font-family: "Trajan Pro", serif;
}

.attackPropertyValueLabel {
    width: 97%;
    text-align: left;

}

.multiInputFormLabel {
    margin-left: 3%;

}

.creatureTypeContainer {
    float:right;
    margin-right: 3%;
}

